@use './abstracts/' as *;
@use './base/' as *;
@use './utilities/container' as *;
@use './components/' as *;

body {
  background-color: var(--clr-gray-light);
  overflow-x: hidden;
}

.section-hero {
  position: relative;
  background-color: var(--bg-hero);
  color: var(--clr-paragraph);

  @include mq(md) {
    min-height: 60vh;
  }
}

.hero {
  @include flex-config($direction: column, $align: center);
  gap: 5rem;
  padding-bottom: 5rem;

  @include mq(md) {
    min-height: 60vh;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    padding-bottom: 0;
  }
}

.hero-cta {
  padding: 5rem 0;

  @include mq(md) {
    width: 40%;
    padding: 0;
  }

  &__heading {
    font-size: clamp(1.8rem, 2vw, 2rem);
    color: var(--clr-light);
  }

  &__paragraph {
    font-size: clamp(1.4rem, 2vw, 1.6rem);
    padding: 2rem 2rem 2rem 0;
    line-height: 1.5;
  }

  &__img {
    width: 20rem;
    animation: spin 50s linear infinite;

    @include mq(md) {
      width: 25rem;
    }

    @include mq(lg) {
      width: 30rem;
    }
  }
}

.global-stats {
  @include flex-config($align: center, $wrap: wrap, $justify: space-around);
  gap: 3rem;
  width: 90%;
  background-color: var(--clr-light);
  padding: 5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin-top: 5rem;

  @include mq(md) {
    position: relative;
    z-index: 5;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -5rem;
  }
}

.section-additional-info {
  @include flex-config($direction: column);
  gap: 3rem;
  width: 90%;
  margin-top: 5rem;

  @include mq(md) {
    @include flex-config(
      $direction: row,
      $justify: space-around,
      $align: center
    );
    margin-top: 5rem;
  }
}

.additional-info-stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, max-content));
  justify-content: center;
  grid-gap: 6rem;
  background-color: var(--clr-light);
  padding: 10rem 0;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  @include mq(md) {
    width: 60%;
  }
}

.additional-info-filter {
  @include flex-config($direction: column);
  gap: 2rem;
  width: 100%;
  background-color: var(--clr-light);
  padding: 3rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  &__cases {
    text-align: right;
    margin-right: 5rem;
  }

  @include mq(md) {
    width: 35%;
  }
}

.search-input-wrapper {
  display: block;
  border: none;
  outline: none;

  &__input {
    width: 100%;
    font-size: 1.3rem;
    padding: 0.8rem;
    border-radius: 0.5rem;

    &:focus {
      outline: none;
    }
  }
}

.country-cards {
  @include flex-config($direction: column);
  gap: 2rem;
  height: 55rem;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
