@use '../../abstracts/' as *;

.stats-card {
  @include flex-config($direction: column, $align: center);
  gap: 1rem;
  position: relative;
  padding: 4rem;
  color: var(--clr-light);
  border-radius: var(--border-radius);

  &__img {
    @include position($pos: absolute, $top: -2.5rem, $left: 7.5rem);
    width: 5rem;
  }

  &__value {
    font-size: 1.5rem;
  }

  &__text {
    font-size: 1.4rem;
    flex: 1 1 0px;
  }

  &--green {
    background-color: hsl(120, 100%, 25%);
  }

  &--light-blue {
    background-color: hsl(216, 92%, 61%);
  }

  &--purple {
    background-color: hsl(300, 94%, 34%);
  }

  &--dark-blue {
    background-color: hsl(240, 96%, 26%);
  }

  &--dark-green {
    background-color: hsl(120, 97%, 15%);
  }

  &--dark-yellow {
    background-color: hsl(60, 96%, 19%);
  }
}
